<section>
	<header><%-t('Contact info')%></header>
	<dl>
		<dt>
			<i class="fa fa-envelope"></i>
			<%-t('Email')%>
		</dt>
		<dd>
			<a href="mailto:<%= email %>"><%= email %></a>
		</dd>
		<dt>
			<i class="fa fa-mobile-alt"></i>
			<%-t('Mobile phone')%>
		</dt>
		<dd>
			<a href="tel:<%= mobile.replace(/\s/g, '') %>"><%= mobile %></a>
		</dd>
		<dt>
			<i class="fa fa-globe"></i>
			<%-t('Website')%>
		</dt>
		<dd>
			<a href="<%= website %>"><%= website.replace('https://', '') %></a>
		</dd>
		<dt>
			<i class="fab fa-linkedin"></i>
			LinkedIn
		</dt>
		<dd>
			<a href="http://www.linkedin.com/in/<%= linkedin %>">
				linkedin.com/in/<%= linkedin %>
			</a>
		</dd>
		<dt>
			<i class="fab fa-github"></i>
			Github
		</dt>
		<dd>
			<a href="https://github.com/<%= github %>">
				github.com/<%= github %>
			</a>
		</dd>
		<dt>
			<i class="fab fa-gitlab"></i>
			Gitlab
		</dt>
		<dd>
			<a href="https://gitlab.com/<%= gitlab %>">
				gitlab.com/<%= gitlab %>
			</a>
		</dd>
	</dl>
</section>