<section>
	<header><%-t('Single courses')%></header>
	
	<% courses.forEach(item => { %>
		<article>
			<header>
				<a href="<%= item.site %>">
					<%= item.title %> &mdash; <%= item.school %>
				</a>
				<div class="right">
					<div class="period">
						<%- include('monthYear', { date: item.from }) %>
							&ndash;
						<% if (item.to) { %>
							<%- include('monthYear', { date: item.to }) %>
						<% } else { %>
							<%-t('Present')%>
						<% } %>
					</div>
				</div>
			</header>
			<%= item.score ? item.score : '' %>
		</article>
	<% }); %>
</section>