<header id="mainHeader">
	<h1><%= contact.name %></h1>

	<div id="header-right">
		<!-- <%- include('address', contact.address)%> -->
		<%= contact.tagline %>
	</div>
</header>

<div id="content">
	<aside>
		<%- include('contact', contact)%>
		<%- include('languages', languages)%>
		<%- include('about', languages)%>
	</aside>

	<main>
		<%- include('experience', experience)%>
		<p style="page-break-before: auto"></p>
		<br><br>
		<%- include('education', education)%>
		<%- include('courses', courses)%>
		<%- include('hobbies', hobbies)%>
	</main>
</div>

<style><%-css%></style>