<article <% if (company == "Item Solutions") { %>style="padding-top: 2rem;page-break-before: always;"<% } %>>
	<header>
		<%= title %> &mdash; <a href="<%= site %>"><%= company %></a>
		<div class="right">
			<span class="period">
				<%- include('monthYear', { date: from }) %>
					&ndash;
				<% if (to) { %>
					<%- include('monthYear', { date: to }) %>
				<% } else { %>
					<%-t('Present')%>
				<% } %>
			</span>
			<br>
			<% if (locals.location && location) { %>
				<span class="location">
					<i class="fa fa-map-marker-alt"></i>
					<%= location %>
				</span>
			<% } %>
		</div>
	</header>
	
	<% if (locals.description) { %>
		<p>
			<strong><%-t('Activities')%>:</strong>
			<%- description.replace(/\n/g, '<br>') %>
		</p>
	<% } %>

	<% if (locals.skills) { %>
		<p>
			<strong>
				<%= locals.isEducation ? t('Core courses') : t('Used technologies') %>:
			</strong>
			<%
				for (const skill of skills) {
					const isLast = skill === skills[skills.length - 1];
			%>
				<%= skill %><%= isLast ? '' : ',' %>
			<% } %>
		</p>
	<% } %>
</article>