<section>
	<header><%-t('Languages')%></header>
	<a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages">CEFR</a> <%-t('level, self-estimated')%>
	<dl class="compact">
		<% Object.entries(languages).forEach(([ language, level ]) => { %>
			<dt><%= language %></dt>
			<dd><%= level %></dd>
			<br>
		<% }); %>
	</dl>
</section>