@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$highlight: #2EBCAE;

body {
	font-size: 8px;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

header#mainHeader {
	background-color: $highlight;
	color: #fff;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;

	h1 {
		padding: 0px 0 0 25px;
		font-size: 18px;
		display: inline-block;
	}

	#header-right {
		float: right;
		border: none;
		text-align: right;
		margin: 2.25em 20px 0;
		font-size: 8px;
	}
}

#content {
	margin: 2em 3em;

	a {
		text-decoration: none;
		color: #333;
		border-bottom: 1px dotted #ccc;
	}

	aside {
		font-size: 8px;
		float: left;
		width: 140px;

		section {
			margin-bottom: 3em;

			header {
				margin-bottom: 0.5em;
			}

			&#about p {
				text-align: justify;
				text-justify: kashida;
			}

			dl {
				dt {
					font-weight: bold;
					display: block;
				}
	
				dd {
					display: block;
					margin: 0;
					margin-bottom: 1em;
				}
	
				&.compact {
					dt {
						width: 8em;
					}
					dt, dd {
						display: inline-block;
					}
				}
			}
		}
	}

	main {
		margin-left: 160px;
		padding: 0;

		article {
			margin: 1em 0;

			header, header a {
				font-size: 12px;
				color: $highlight;

				.right {
					float: right;
					font-size: 8px;
					font-style: italic;
					color: #333;
					line-height: 16px;
					text-align: right;
				}
			}

			p {
				margin-top: 5px;
			}
		}
	}

	section {
		& > header {
			font-weight: bold;
			color: $highlight;
			border-bottom: 1px solid $highlight;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}

.fa-gitlab {
	color: #DB4128;
}

.fa-linkedin {
	color: #0270AD;
}